<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test_Affichage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6E9C7431CC4DEC00005B4EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E9C7571CC4DEC20005B4EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E9C7621CC4DEC20005B4EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
